
[hub]
protocol = https

[core]
	excludesfile = /Users/mgalang/.gitignore
	editor = /usr/bin/vim

[credential]
helper = /opt/boxen/bin/boxen-git-credential
[user]
	name = Mio Miguel Galang
	email = mgalang@zendesk.com
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
#[merge]
#	tool = mymeld
#	conflictstyle = diff3
#[mergetool "mymeld"]
#  cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --auto-merge $LOCAL $BASE $REMOTE --output $MERGED
#  cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE $MERGE
#  cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --diff $LOCAL $BASE $REMOTE --output $MERGED
#  cmd = meld $BASE $LOCAL $MERGED $REMOTE
#[diff]
#	tool = meld
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  
